*:focus {
    outline: 0;
    border:none;
}

/*********************
 TopBar 
*********************/
.topbar{
 background:#676e77;
 height:79px;
}

.topbar .logo-v1{
 padding-top:22px;
}

.topbar .search{
 padding-top:22px;
}

.topbar .search .form-control{
 border:none;
 background:#484d53;
 color:#fff;
 text-align:center;
 font-size:12px;
}

.topbar .search .input-group-btn .btn-search{
 border:1px solid #484d53;
 background:#484d53;
 margin-left:1px;
 color:#fff;
}

.topbar .search .input-group-btn .btn-search:focus{
 outline: 0;
}

.topbar .nav{
 padding-top:28px;
}

.topbar .nav a{
 color:#93989f;
 padding:10px;
}

/*********************
 GENERAL LAY 
*********************/

/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/
#toTop, #toTopHover{
	width:35px;
	height:35px;
}

#toTop{
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:5px;
	right:5px;
	overflow:hidden;
	border:none;
	text-indent:100%;
	background:url(../../img/lay/ui.totop.png) no-repeat left top;
}
#toTopHover{
	background:url(../../img/lay/ui.totop.png) no-repeat left bottom;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}
#toTop:active, #toTop:focus{outline:none;} 


/*********************
 GENERAL LAY 
*********************/

